// This is place for mixins

@mixin popup_transparency($width: 300px, $margin: 30px) {
  padding: 30px;  
  width: $width;  
  position: relative;  
  float: left;  
  margin: $margin;  
  overflow: hidden;
  z-index: 103; 

  .transparency {
    opacity: .9;  
    background-color: white;  
    width: $width + 60px;  
    height: 1500px;  
    position: absolute;  
    top: 0px;  
    left: 0px;  
    z-index: 102;  
  }
}